<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmdb.movies.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.tmdb.movies.demo.di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.hdVideoPlayer">
        <activity
            android:name="com.tmdb.movies.demo.views.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.darkTextStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tmdb.movies.demo.base.BaseActivity"
            android:theme="@style/Theme.hdVideoPlayer.NoActionBar" />

    </application>

</manifest>